// Define variables for your color scheme

$header: #090642;
$paragraph: #8B8B8B;
$icon-btn: #CDCDCD;
$tag: #479795;
$primary: #17DA9D;
$secondary: #E8FBF5;
$web-background: #F3F9F7;
$card-background: #FFFFFF;
