// Define variables for your color scheme

$Headers: #090642;
$Paragraph: #8B8B8B;
$Icon-btn: #CDCDCD;
$Tags: #479795;
$Primary: #17DA9D;
$Secondary: #E8FBF5;
$Web-background: #F3F9F7;
$Card-background: #FFFFFF;
