// Define variables for your color scheme

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$header: #090642;
$paragraph: #8B8B8B;
$icon-btn: #CDCDCD;
$tag: #479795;
$primary: #17DA9D;
$secondary: #E8FBF5;
$web-background: #F3F9F7;
$card-background: #FFFFFF;
