.goalscontainer {
  width: 70%;
  justify-content: center;
  margin: 0 auto;

  a {
    color: black;
    text-decoration: none !important;
  }
  h1 {
    color: #090642;
    margin-bottom: 20px;
  }
}
