<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

<% if info %>
  <div class="flash flash-success alert alert-dismissible fade show m-1" role="alert">
    <%= info %>
    <br>
    <span>🏆 Well done !!!</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div
<% end %>

<% if keepon %>
  <div class="flash flash-warning alert alert-dismissible fade show m-1" role="alert">
    <%= keepon %>
    <br>
    <span>Keep on going!</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div
<% end %>
