<% if info %>
  <div class="flash flash-success alert alert-dismissible fade show m-1" role="alert">
    <%= info %>
    <br>
    <span>🏆 Well done !!!</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div
<% end %>
