  <div class="flash flash-warning alert alert-dismissible fade show m-1" role="alert">
    <%= keepon %>
    <br>
    <span>Keep on going! You can do it!</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
