.alert {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}

.flash {
  height: 90px;
  width: 500px;
  position: fixed;
  top: 30px;
  left: 30%;
  z-index: 1000;
  text-align: center;
  align-items: center;
  padding: 16px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #17DA9D;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
