.btn-green {
  position: absolute;
  width: 227px;
  height: 60px;
  left: 904px;
  top: 209px;
  background-color: green;
}

.btn-green p {
  position: absolute;
  left: 53.93%;
  right: 36.13%;
  top: 20.23%;
  bottom: 77.34%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-self: start;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
