.btn-primary-green {
  width: 227px;
  height: 60px;
  border-radius: 20px;
  background-color: #17DA9D;
  padding: 15px 0;
  color: white;
  font-weight: 800;
  font-size: 18px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.task-button {
  height: 100%;
  border-radius: 50%;
}
