.card50 {
  // width: 50%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 16px;
  height: 91px
}

.task-card {
  color: #090642; // #E8FBF5
  background-color: #ffffff;
  height: 8vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 8px;
  align-items: center;

  p {
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
  }
}
