.card50 {
  // width: 50%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px #8ef4d3;
  border-radius: 16px;
  padding: 16px;
}

.task-card {
  height: 8vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
  // TODO: align text to center vertically
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: 8px;

  p {
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
  }
}
