.containerflex70 {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container70 {
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}

.showgoalscontainer {
  height: 200px;
  display: flex;
  justify-content: center;
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.iconcontainer {
  width: 60%;
  justify-content: center;
  margin: 8px auto;
  display: flex;
}

.iconcontainer input {
  width: 48px;
  margin-left: 16px;
  margin-right: 16px;
  }

.categories-container {
  display: block;
  text-align: center;

}

.half-page-container {
  width: 50%;
  margin-right: 16px;
}

.recent-tasks-container {
  display: block;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;

  a {
    color: black;
    text-decoration: none !important;
  }
}

.button-container {
  display: flex;
  flex-flow: column nowrap;

.indexcontainer {
  display: flex;
  align-items: center;
}

.badges-container {
  display:block;
  position: relative;
  right: 56px;
}
