.container60 {
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}

.showgoalscontainer {
  height: 200px;
  display: flex;
  justify-content: center;
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
