.containerflex70 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0;
  // padding: 0;
}

.container70 {
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}

.container80 {
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.container90 {
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.showgoalscontainer {
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #E8FBF5; // #479795 #E8FBF5
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}

.iconcontainer {
  width: 60%;
  justify-content: center;
  margin: 8px auto;
  display: flex;
}

.iconcontainer input {
  width: 48px;
  margin-left: 16px;
  margin-right: 16px;
  }

.categories-container {
  display: block;
  text-align: center;
}

.half-page-container {
  width: 50%;
  margin-right: 16px;
}

.recent-tasks-container {
  display: block;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;

  a {
    color: black;
    text-decoration: none !important;
  }
}

.button-container {
  display: flex;
  flex-flow: column nowrap;
}


.goalscontainer {
  width: 70%;
  margin: 0 auto;
  color: #090642;

  a {
    color: black;
    text-decoration: none !important;
  }
  h2 {
    color: $header;
  }
}

.usercontainer {
  justify-content: space-between;
}

.indexcontainer {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  a {
    width: 100%;
    color: #090642;
    text-decoration: none !important;
  }
  h2 {
    color: #090642;
  }
}

.own-goal-banner-container {
  margin: 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px 0px; /* row-gap column gap */
  // background-color: #E8FBF5; // #479795 #E8FBF5
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  // padding: 30px 10px;
  // border-radius: 8px;

  a {
    text-decoration: none;
    text-align: center;
  }
}

.owngoals {
  // border: 2px dotted red;
  display: flex;
  flex-direction: column;
  margin: 0px 24px;

  h2 {
    // text-align: center;
  }
}

.currentgoals {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
}
.completedgoals {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.badges-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 24px;
  // border: 2px solid red;

  h2 {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    text-align: center;
    font: $body-font;
    color: $paragraph;
  }
}
