.searchbar {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  .input {
    display: flex;
  }
}

.search-form-control {
  position: relative;
}

.form-control:focus {
  border-color: #17DA9D;
  box-shadow: 0 0 0 0.2rem rgba(23, 218, 157, 0.25);
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px #17DA9D;
}


.form-control::placeholder {
  // font-weight: bold;
  opacity: 1;
  color: #090642; // $primary is not working
}
